[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = git@shekhar.github.com:shekharkoirala/shekharkoirala.github.io.git
	branch = master
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
